/*
EmailEngine API

EmailEngine provides a RESTful API for managing email accounts, sending messages, and processing email data across multiple providers.  <h3>Authentication</h3> All API requests require authentication using an Access Token. You can generate and manage your tokens from the <a href=\"/admin/tokens\" target=\"_parent\"><strong>Access Tokens</strong></a> page.  Include your token in requests using one of these methods: - Query parameter: <code>?access_token=YOUR_TOKEN</code> - Authorization header: <code>Authorization: Bearer YOUR_TOKEN</code>  <h3>Request Processing</h3>  <strong>Sequential Processing:</strong> Requests to the same email account are processed sequentially to maintain data consistency. Multiple simultaneous requests will be queued.  <strong>Timeouts:</strong> Long-running operations may cause queued requests to timeout. Configure appropriate timeout values using the <code>X-EE-Timeout</code> header (in milliseconds).  <h3>Getting Started</h3> 1. <a href=\"/admin/tokens\" target=\"_parent\">Generate an Access Token</a> 2. <a href=\"/admin/accounts\" target=\"_parent\">Add an email account</a> 3. Start making API requests using the endpoints below

API version: 2.61.1
Contact: support@emailengine.app
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AccountAPIService AccountAPI service
type AccountAPIService service

type ApiDeleteV1AccountAccountRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	account string
	xEeTimeout *int32
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiDeleteV1AccountAccountRequest) XEeTimeout(xEeTimeout int32) ApiDeleteV1AccountAccountRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiDeleteV1AccountAccountRequest) Execute() (*DeleteRequestResponse, *http.Response, error) {
	return r.ApiService.DeleteV1AccountAccountExecute(r)
}

/*
DeleteV1AccountAccount Remove account

Stop processing and clear the account's cache

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiDeleteV1AccountAccountRequest
*/
func (a *AccountAPIService) DeleteV1AccountAccount(ctx context.Context, account string) ApiDeleteV1AccountAccountRequest {
	return ApiDeleteV1AccountAccountRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return DeleteRequestResponse
func (a *AccountAPIService) DeleteV1AccountAccountExecute(r ApiDeleteV1AccountAccountRequest) (*DeleteRequestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteRequestResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.DeleteV1AccountAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetV1AccountAccountRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	account string
	xEeTimeout *int32
	quota *bool
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiGetV1AccountAccountRequest) XEeTimeout(xEeTimeout int32) ApiGetV1AccountAccountRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

// If true, then include quota information in the response
func (r ApiGetV1AccountAccountRequest) Quota(quota bool) ApiGetV1AccountAccountRequest {
	r.quota = &quota
	return r
}

func (r ApiGetV1AccountAccountRequest) Execute() (*AccountResponse, *http.Response, error) {
	return r.ApiService.GetV1AccountAccountExecute(r)
}

/*
GetV1AccountAccount Get account info

Returns stored information about the account. Passwords are not included.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiGetV1AccountAccountRequest
*/
func (a *AccountAPIService) GetV1AccountAccount(ctx context.Context, account string) ApiGetV1AccountAccountRequest {
	return ApiGetV1AccountAccountRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return AccountResponse
func (a *AccountAPIService) GetV1AccountAccountExecute(r ApiGetV1AccountAccountRequest) (*AccountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.GetV1AccountAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}

	if r.quota != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "quota", r.quota, "form", "")
	} else {
		var defaultValue bool = false
		r.quota = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetV1AccountAccountOauthtokenRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	account string
	xEeTimeout *int32
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiGetV1AccountAccountOauthtokenRequest) XEeTimeout(xEeTimeout int32) ApiGetV1AccountAccountOauthtokenRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiGetV1AccountAccountOauthtokenRequest) Execute() (*Model2, *http.Response, error) {
	return r.ApiService.GetV1AccountAccountOauthtokenExecute(r)
}

/*
GetV1AccountAccountOauthtoken Get OAuth2 access token

Get the active OAuth2 access token for an account. NB! This endpoint is disabled by default and needs activation on the Service configuration page.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiGetV1AccountAccountOauthtokenRequest
*/
func (a *AccountAPIService) GetV1AccountAccountOauthtoken(ctx context.Context, account string) ApiGetV1AccountAccountOauthtokenRequest {
	return ApiGetV1AccountAccountOauthtokenRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return Model2
func (a *AccountAPIService) GetV1AccountAccountOauthtokenExecute(r ApiGetV1AccountAccountOauthtokenRequest) (*Model2, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Model2
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.GetV1AccountAccountOauthtoken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}/oauth-token"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetV1AccountAccountServersignaturesRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	account string
	xEeTimeout *int32
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiGetV1AccountAccountServersignaturesRequest) XEeTimeout(xEeTimeout int32) ApiGetV1AccountAccountServersignaturesRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiGetV1AccountAccountServersignaturesRequest) Execute() (*AccountTokenResponse, *http.Response, error) {
	return r.ApiService.GetV1AccountAccountServersignaturesExecute(r)
}

/*
GetV1AccountAccountServersignatures List Account Signatures

Returns signatures associated with the account. Currently only Gmail is supported, and only "new message" signatures from the "sendAs" list are returned.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiGetV1AccountAccountServersignaturesRequest
*/
func (a *AccountAPIService) GetV1AccountAccountServersignatures(ctx context.Context, account string) ApiGetV1AccountAccountServersignaturesRequest {
	return ApiGetV1AccountAccountServersignaturesRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return AccountTokenResponse
func (a *AccountAPIService) GetV1AccountAccountServersignaturesExecute(r ApiGetV1AccountAccountServersignaturesRequest) (*AccountTokenResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountTokenResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.GetV1AccountAccountServersignatures")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}/server-signatures"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetV1AccountsRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	xEeTimeout *int32
	page *int32
	pageSize *int32
	state *string
	query *string
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiGetV1AccountsRequest) XEeTimeout(xEeTimeout int32) ApiGetV1AccountsRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

// Page number (zero indexed, so use 0 for first page)
func (r ApiGetV1AccountsRequest) Page(page int32) ApiGetV1AccountsRequest {
	r.page = &page
	return r
}

// How many entries per page
func (r ApiGetV1AccountsRequest) PageSize(pageSize int32) ApiGetV1AccountsRequest {
	r.pageSize = &pageSize
	return r
}

// Filter accounts by state
func (r ApiGetV1AccountsRequest) State(state string) ApiGetV1AccountsRequest {
	r.state = &state
	return r
}

// Filter accounts by string match
func (r ApiGetV1AccountsRequest) Query(query string) ApiGetV1AccountsRequest {
	r.query = &query
	return r
}

func (r ApiGetV1AccountsRequest) Execute() (*AccountsFilterResponse, *http.Response, error) {
	return r.ApiService.GetV1AccountsExecute(r)
}

/*
GetV1Accounts List accounts

Lists registered accounts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetV1AccountsRequest
*/
func (a *AccountAPIService) GetV1Accounts(ctx context.Context) ApiGetV1AccountsRequest {
	return ApiGetV1AccountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountsFilterResponse
func (a *AccountAPIService) GetV1AccountsExecute(r ApiGetV1AccountsRequest) (*AccountsFilterResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsFilterResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.GetV1Accounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 0
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 20
		r.pageSize = &defaultValue
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetV1ChangesRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	xEeTimeout *int32
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiGetV1ChangesRequest) XEeTimeout(xEeTimeout int32) ApiGetV1ChangesRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiGetV1ChangesRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.GetV1ChangesExecute(r)
}

/*
GetV1Changes Stream state changes

Stream account state changes as an EventSource

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetV1ChangesRequest
*/
func (a *AccountAPIService) GetV1Changes(ctx context.Context) ApiGetV1ChangesRequest {
	return ApiGetV1ChangesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *AccountAPIService) GetV1ChangesExecute(r ApiGetV1ChangesRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.GetV1Changes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/changes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1AccountRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	xEeTimeout *int32
	createAccount *CreateAccount
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPostV1AccountRequest) XEeTimeout(xEeTimeout int32) ApiPostV1AccountRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiPostV1AccountRequest) CreateAccount(createAccount CreateAccount) ApiPostV1AccountRequest {
	r.createAccount = &createAccount
	return r
}

func (r ApiPostV1AccountRequest) Execute() (*CreateAccountResponse, *http.Response, error) {
	return r.ApiService.PostV1AccountExecute(r)
}

/*
PostV1Account Register new account

Registers new IMAP account to be synced

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostV1AccountRequest
*/
func (a *AccountAPIService) PostV1Account(ctx context.Context) ApiPostV1AccountRequest {
	return ApiPostV1AccountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateAccountResponse
func (a *AccountAPIService) PostV1AccountExecute(r ApiPostV1AccountRequest) (*CreateAccountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateAccountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.PostV1Account")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.createAccount
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1AuthenticationFormRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	xEeTimeout *int32
	requestAuthForm *RequestAuthForm
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPostV1AuthenticationFormRequest) XEeTimeout(xEeTimeout int32) ApiPostV1AuthenticationFormRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiPostV1AuthenticationFormRequest) RequestAuthForm(requestAuthForm RequestAuthForm) ApiPostV1AuthenticationFormRequest {
	r.requestAuthForm = &requestAuthForm
	return r
}

func (r ApiPostV1AuthenticationFormRequest) Execute() (*RequestAuthFormResponse, *http.Response, error) {
	return r.ApiService.PostV1AuthenticationFormExecute(r)
}

/*
PostV1AuthenticationForm Generate authentication link

Generates a redirect link to the hosted authentication form

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostV1AuthenticationFormRequest
*/
func (a *AccountAPIService) PostV1AuthenticationForm(ctx context.Context) ApiPostV1AuthenticationFormRequest {
	return ApiPostV1AuthenticationFormRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RequestAuthFormResponse
func (a *AccountAPIService) PostV1AuthenticationFormExecute(r ApiPostV1AuthenticationFormRequest) (*RequestAuthFormResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RequestAuthFormResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.PostV1AuthenticationForm")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authentication/form"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.requestAuthForm
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1VerifyaccountRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	xEeTimeout *int32
	verifyAccount *VerifyAccount
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPostV1VerifyaccountRequest) XEeTimeout(xEeTimeout int32) ApiPostV1VerifyaccountRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiPostV1VerifyaccountRequest) VerifyAccount(verifyAccount VerifyAccount) ApiPostV1VerifyaccountRequest {
	r.verifyAccount = &verifyAccount
	return r
}

func (r ApiPostV1VerifyaccountRequest) Execute() (*VerifyAccountResponse, *http.Response, error) {
	return r.ApiService.PostV1VerifyaccountExecute(r)
}

/*
PostV1Verifyaccount Verify IMAP and SMTP settings

Checks if can connect and authenticate using provided account info

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostV1VerifyaccountRequest
*/
func (a *AccountAPIService) PostV1Verifyaccount(ctx context.Context) ApiPostV1VerifyaccountRequest {
	return ApiPostV1VerifyaccountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VerifyAccountResponse
func (a *AccountAPIService) PostV1VerifyaccountExecute(r ApiPostV1VerifyaccountRequest) (*VerifyAccountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VerifyAccountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.PostV1Verifyaccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/verifyAccount"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.verifyAccount
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutV1AccountAccountRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	account string
	xEeTimeout *int32
	updateAccount *UpdateAccount
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPutV1AccountAccountRequest) XEeTimeout(xEeTimeout int32) ApiPutV1AccountAccountRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiPutV1AccountAccountRequest) UpdateAccount(updateAccount UpdateAccount) ApiPutV1AccountAccountRequest {
	r.updateAccount = &updateAccount
	return r
}

func (r ApiPutV1AccountAccountRequest) Execute() (*Model18, *http.Response, error) {
	return r.ApiService.PutV1AccountAccountExecute(r)
}

/*
PutV1AccountAccount Update account info

Updates account information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiPutV1AccountAccountRequest
*/
func (a *AccountAPIService) PutV1AccountAccount(ctx context.Context, account string) ApiPutV1AccountAccountRequest {
	return ApiPutV1AccountAccountRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return Model18
func (a *AccountAPIService) PutV1AccountAccountExecute(r ApiPutV1AccountAccountRequest) (*Model18, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Model18
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.PutV1AccountAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.updateAccount
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutV1AccountAccountFlushRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	account string
	xEeTimeout *int32
	requestFlush *RequestFlush
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPutV1AccountAccountFlushRequest) XEeTimeout(xEeTimeout int32) ApiPutV1AccountAccountFlushRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiPutV1AccountAccountFlushRequest) RequestFlush(requestFlush RequestFlush) ApiPutV1AccountAccountFlushRequest {
	r.requestFlush = &requestFlush
	return r
}

func (r ApiPutV1AccountAccountFlushRequest) Execute() (*RequestFlushResponse, *http.Response, error) {
	return r.ApiService.PutV1AccountAccountFlushExecute(r)
}

/*
PutV1AccountAccountFlush Request account flush

Deletes all email indexes from Redis and ElasticSearch and re-creates the index for that account. You can only run a single flush operation at a time, so you must wait until the previous flush has finished before initiating a new one.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiPutV1AccountAccountFlushRequest
*/
func (a *AccountAPIService) PutV1AccountAccountFlush(ctx context.Context, account string) ApiPutV1AccountAccountFlushRequest {
	return ApiPutV1AccountAccountFlushRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return RequestFlushResponse
func (a *AccountAPIService) PutV1AccountAccountFlushExecute(r ApiPutV1AccountAccountFlushRequest) (*RequestFlushResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RequestFlushResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.PutV1AccountAccountFlush")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}/flush"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.requestFlush
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutV1AccountAccountReconnectRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	account string
	xEeTimeout *int32
	requestReconnect *RequestReconnect
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPutV1AccountAccountReconnectRequest) XEeTimeout(xEeTimeout int32) ApiPutV1AccountAccountReconnectRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiPutV1AccountAccountReconnectRequest) RequestReconnect(requestReconnect RequestReconnect) ApiPutV1AccountAccountReconnectRequest {
	r.requestReconnect = &requestReconnect
	return r
}

func (r ApiPutV1AccountAccountReconnectRequest) Execute() (*RequestReconnectResponse, *http.Response, error) {
	return r.ApiService.PutV1AccountAccountReconnectExecute(r)
}

/*
PutV1AccountAccountReconnect Request reconnect

Requests connection to be reconnected

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiPutV1AccountAccountReconnectRequest
*/
func (a *AccountAPIService) PutV1AccountAccountReconnect(ctx context.Context, account string) ApiPutV1AccountAccountReconnectRequest {
	return ApiPutV1AccountAccountReconnectRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return RequestReconnectResponse
func (a *AccountAPIService) PutV1AccountAccountReconnectExecute(r ApiPutV1AccountAccountReconnectRequest) (*RequestReconnectResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RequestReconnectResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.PutV1AccountAccountReconnect")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}/reconnect"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.requestReconnect
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutV1AccountAccountSyncRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	account string
	xEeTimeout *int32
	requestSync *RequestSync
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPutV1AccountAccountSyncRequest) XEeTimeout(xEeTimeout int32) ApiPutV1AccountAccountSyncRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiPutV1AccountAccountSyncRequest) RequestSync(requestSync RequestSync) ApiPutV1AccountAccountSyncRequest {
	r.requestSync = &requestSync
	return r
}

func (r ApiPutV1AccountAccountSyncRequest) Execute() (*RequestSyncResponse, *http.Response, error) {
	return r.ApiService.PutV1AccountAccountSyncExecute(r)
}

/*
PutV1AccountAccountSync Request syncing

Immediately trigger account syncing for IMAP accounts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiPutV1AccountAccountSyncRequest
*/
func (a *AccountAPIService) PutV1AccountAccountSync(ctx context.Context, account string) ApiPutV1AccountAccountSyncRequest {
	return ApiPutV1AccountAccountSyncRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return RequestSyncResponse
func (a *AccountAPIService) PutV1AccountAccountSyncExecute(r ApiPutV1AccountAccountSyncRequest) (*RequestSyncResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RequestSyncResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.PutV1AccountAccountSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.requestSync
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
