/*
EmailEngine API

EmailEngine provides a RESTful API for managing email accounts, sending messages, and processing email data across multiple providers.  <h3>Authentication</h3> All API requests require authentication using an Access Token. You can generate and manage your tokens from the <a href=\"/admin/tokens\" target=\"_parent\"><strong>Access Tokens</strong></a> page.  Include your token in requests using one of these methods: - Query parameter: <code>?access_token=YOUR_TOKEN</code> - Authorization header: <code>Authorization: Bearer YOUR_TOKEN</code>  <h3>Request Processing</h3>  <strong>Sequential Processing:</strong> Requests to the same email account are processed sequentially to maintain data consistency. Multiple simultaneous requests will be queued.  <strong>Timeouts:</strong> Long-running operations may cause queued requests to timeout. Configure appropriate timeout values using the <code>X-EE-Timeout</code> header (in milliseconds).  <h3>Getting Started</h3> 1. <a href=\"/admin/tokens\" target=\"_parent\">Generate an Access Token</a> 2. <a href=\"/admin/accounts\" target=\"_parent\">Add an email account</a> 3. Start making API requests using the endpoints below

API version: 2.61.1
Contact: support@emailengine.app
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MultiMessageActionsAPIService MultiMessageActionsAPI service
type MultiMessageActionsAPIService service

type ApiPutV1AccountAccountMessagesRequest struct {
	ctx context.Context
	ApiService *MultiMessageActionsAPIService
	account string
	path *string
	xEeTimeout *int32
	messagesUpdateRequest *MessagesUpdateRequest
}

// Mailbox folder path. Can use special use labels like \&quot;\\Sent\&quot;. Special value \&quot;\\All\&quot; is available for Gmail IMAP, Gmail API, MS Graph API accounts.
func (r ApiPutV1AccountAccountMessagesRequest) Path(path string) ApiPutV1AccountAccountMessagesRequest {
	r.path = &path
	return r
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPutV1AccountAccountMessagesRequest) XEeTimeout(xEeTimeout int32) ApiPutV1AccountAccountMessagesRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiPutV1AccountAccountMessagesRequest) MessagesUpdateRequest(messagesUpdateRequest MessagesUpdateRequest) ApiPutV1AccountAccountMessagesRequest {
	r.messagesUpdateRequest = &messagesUpdateRequest
	return r
}

func (r ApiPutV1AccountAccountMessagesRequest) Execute() (*MessageUpdateResponse, *http.Response, error) {
	return r.ApiService.PutV1AccountAccountMessagesExecute(r)
}

/*
PutV1AccountAccountMessages Update messages

Update message information for matching emails

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiPutV1AccountAccountMessagesRequest
*/
func (a *MultiMessageActionsAPIService) PutV1AccountAccountMessages(ctx context.Context, account string) ApiPutV1AccountAccountMessagesRequest {
	return ApiPutV1AccountAccountMessagesRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return MessageUpdateResponse
func (a *MultiMessageActionsAPIService) PutV1AccountAccountMessagesExecute(r ApiPutV1AccountAccountMessagesRequest) (*MessageUpdateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessageUpdateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiMessageActionsAPIService.PutV1AccountAccountMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}/messages"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}
	if r.path == nil {
		return localVarReturnValue, nil, reportError("path is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.messagesUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutV1AccountAccountMessagesDeleteRequest struct {
	ctx context.Context
	ApiService *MultiMessageActionsAPIService
	account string
	path *string
	xEeTimeout *int32
	force *bool
	messagesDeleteRequest *MessagesDeleteRequest
}

// Mailbox folder path. Can use special use labels like \&quot;\\Sent\&quot;. Special value \&quot;\\All\&quot; is available for Gmail IMAP, Gmail API, MS Graph API accounts.
func (r ApiPutV1AccountAccountMessagesDeleteRequest) Path(path string) ApiPutV1AccountAccountMessagesDeleteRequest {
	r.path = &path
	return r
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPutV1AccountAccountMessagesDeleteRequest) XEeTimeout(xEeTimeout int32) ApiPutV1AccountAccountMessagesDeleteRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

// Delete messages even if not in Trash
func (r ApiPutV1AccountAccountMessagesDeleteRequest) Force(force bool) ApiPutV1AccountAccountMessagesDeleteRequest {
	r.force = &force
	return r
}

func (r ApiPutV1AccountAccountMessagesDeleteRequest) MessagesDeleteRequest(messagesDeleteRequest MessagesDeleteRequest) ApiPutV1AccountAccountMessagesDeleteRequest {
	r.messagesDeleteRequest = &messagesDeleteRequest
	return r
}

func (r ApiPutV1AccountAccountMessagesDeleteRequest) Execute() (*MessagesDeleteResponse, *http.Response, error) {
	return r.ApiService.PutV1AccountAccountMessagesDeleteExecute(r)
}

/*
PutV1AccountAccountMessagesDelete Delete messages

Move messages to Trash or delete these if already in Trash

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiPutV1AccountAccountMessagesDeleteRequest
*/
func (a *MultiMessageActionsAPIService) PutV1AccountAccountMessagesDelete(ctx context.Context, account string) ApiPutV1AccountAccountMessagesDeleteRequest {
	return ApiPutV1AccountAccountMessagesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return MessagesDeleteResponse
func (a *MultiMessageActionsAPIService) PutV1AccountAccountMessagesDeleteExecute(r ApiPutV1AccountAccountMessagesDeleteRequest) (*MessagesDeleteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessagesDeleteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiMessageActionsAPIService.PutV1AccountAccountMessagesDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}/messages/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}
	if r.path == nil {
		return localVarReturnValue, nil, reportError("path is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "form", "")
	} else {
		var defaultValue bool = false
		r.force = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.messagesDeleteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutV1AccountAccountMessagesMoveRequest struct {
	ctx context.Context
	ApiService *MultiMessageActionsAPIService
	account string
	path *string
	xEeTimeout *int32
	messagesMoveRequest *MessagesMoveRequest
}

// Mailbox folder path. Can use special use labels like \&quot;\\Sent\&quot;. Special value \&quot;\\All\&quot; is available for Gmail IMAP, Gmail API, MS Graph API accounts.
func (r ApiPutV1AccountAccountMessagesMoveRequest) Path(path string) ApiPutV1AccountAccountMessagesMoveRequest {
	r.path = &path
	return r
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPutV1AccountAccountMessagesMoveRequest) XEeTimeout(xEeTimeout int32) ApiPutV1AccountAccountMessagesMoveRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiPutV1AccountAccountMessagesMoveRequest) MessagesMoveRequest(messagesMoveRequest MessagesMoveRequest) ApiPutV1AccountAccountMessagesMoveRequest {
	r.messagesMoveRequest = &messagesMoveRequest
	return r
}

func (r ApiPutV1AccountAccountMessagesMoveRequest) Execute() (*MessagesMoveResponse, *http.Response, error) {
	return r.ApiService.PutV1AccountAccountMessagesMoveExecute(r)
}

/*
PutV1AccountAccountMessagesMove Move messages

Move messages matching to a search query to another folder

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiPutV1AccountAccountMessagesMoveRequest
*/
func (a *MultiMessageActionsAPIService) PutV1AccountAccountMessagesMove(ctx context.Context, account string) ApiPutV1AccountAccountMessagesMoveRequest {
	return ApiPutV1AccountAccountMessagesMoveRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return MessagesMoveResponse
func (a *MultiMessageActionsAPIService) PutV1AccountAccountMessagesMoveExecute(r ApiPutV1AccountAccountMessagesMoveRequest) (*MessagesMoveResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessagesMoveResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiMessageActionsAPIService.PutV1AccountAccountMessagesMove")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/account/{account}/messages/move"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}
	if r.path == nil {
		return localVarReturnValue, nil, reportError("path is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.messagesMoveRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
