/*
EmailEngine API

EmailEngine provides a RESTful API for managing email accounts, sending messages, and processing email data across multiple providers.  <h3>Authentication</h3> All API requests require authentication using an Access Token. You can generate and manage your tokens from the <a href=\"/admin/tokens\" target=\"_parent\"><strong>Access Tokens</strong></a> page.  Include your token in requests using one of these methods: - Query parameter: <code>?access_token=YOUR_TOKEN</code> - Authorization header: <code>Authorization: Bearer YOUR_TOKEN</code>  <h3>Request Processing</h3>  <strong>Sequential Processing:</strong> Requests to the same email account are processed sequentially to maintain data consistency. Multiple simultaneous requests will be queued.  <strong>Timeouts:</strong> Long-running operations may cause queued requests to timeout. Configure appropriate timeout values using the <code>X-EE-Timeout</code> header (in milliseconds).  <h3>Getting Started</h3> 1. <a href=\"/admin/tokens\" target=\"_parent\">Generate an Access Token</a> 2. <a href=\"/admin/accounts\" target=\"_parent\">Add an email account</a> 3. Start making API requests using the endpoints below

API version: 2.61.1
Contact: support@emailengine.app
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DeliveryTestAPIService DeliveryTestAPI service
type DeliveryTestAPIService service

type ApiGetV1DeliverytestCheckDeliverytestRequest struct {
	ctx context.Context
	ApiService *DeliveryTestAPIService
	deliveryTest string
	xEeTimeout *int32
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiGetV1DeliverytestCheckDeliverytestRequest) XEeTimeout(xEeTimeout int32) ApiGetV1DeliverytestCheckDeliverytestRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiGetV1DeliverytestCheckDeliverytestRequest) Execute() (*DeliveryCheckResponse, *http.Response, error) {
	return r.ApiService.GetV1DeliverytestCheckDeliverytestExecute(r)
}

/*
GetV1DeliverytestCheckDeliverytest Check test status

Check delivery test status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deliveryTest Test ID
 @return ApiGetV1DeliverytestCheckDeliverytestRequest
*/
func (a *DeliveryTestAPIService) GetV1DeliverytestCheckDeliverytest(ctx context.Context, deliveryTest string) ApiGetV1DeliverytestCheckDeliverytestRequest {
	return ApiGetV1DeliverytestCheckDeliverytestRequest{
		ApiService: a,
		ctx: ctx,
		deliveryTest: deliveryTest,
	}
}

// Execute executes the request
//  @return DeliveryCheckResponse
func (a *DeliveryTestAPIService) GetV1DeliverytestCheckDeliverytestExecute(r ApiGetV1DeliverytestCheckDeliverytestRequest) (*DeliveryCheckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeliveryCheckResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeliveryTestAPIService.GetV1DeliverytestCheckDeliverytest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/delivery-test/check/{deliveryTest}"
	localVarPath = strings.Replace(localVarPath, "{"+"deliveryTest"+"}", url.PathEscape(parameterValueToString(r.deliveryTest, "deliveryTest")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostV1DeliverytestAccountAccountRequest struct {
	ctx context.Context
	ApiService *DeliveryTestAPIService
	account string
	xEeTimeout *int32
	deliveryStartRequest *DeliveryStartRequest
}

// Request timeout in milliseconds (overrides EENGINE_TIMEOUT environment variable)
func (r ApiPostV1DeliverytestAccountAccountRequest) XEeTimeout(xEeTimeout int32) ApiPostV1DeliverytestAccountAccountRequest {
	r.xEeTimeout = &xEeTimeout
	return r
}

func (r ApiPostV1DeliverytestAccountAccountRequest) DeliveryStartRequest(deliveryStartRequest DeliveryStartRequest) ApiPostV1DeliverytestAccountAccountRequest {
	r.deliveryStartRequest = &deliveryStartRequest
	return r
}

func (r ApiPostV1DeliverytestAccountAccountRequest) Execute() (*DeliveryStartResponse, *http.Response, error) {
	return r.ApiService.PostV1DeliverytestAccountAccountExecute(r)
}

/*
PostV1DeliverytestAccountAccount Create delivery test

Initiate a delivery test

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param account Unique identifier for the email account
 @return ApiPostV1DeliverytestAccountAccountRequest
*/
func (a *DeliveryTestAPIService) PostV1DeliverytestAccountAccount(ctx context.Context, account string) ApiPostV1DeliverytestAccountAccountRequest {
	return ApiPostV1DeliverytestAccountAccountRequest{
		ApiService: a,
		ctx: ctx,
		account: account,
	}
}

// Execute executes the request
//  @return DeliveryStartResponse
func (a *DeliveryTestAPIService) PostV1DeliverytestAccountAccountExecute(r ApiPostV1DeliverytestAccountAccountRequest) (*DeliveryStartResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeliveryStartResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeliveryTestAPIService.PostV1DeliverytestAccountAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/delivery-test/account/{account}"
	localVarPath = strings.Replace(localVarPath, "{"+"account"+"}", url.PathEscape(parameterValueToString(r.account, "account")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.account) > 256 {
		return localVarReturnValue, nil, reportError("account must have less than 256 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEeTimeout != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-ee-timeout", r.xEeTimeout, "simple", "")
	}
	// body params
	localVarPostBody = r.deliveryStartRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
